# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# This is the overall .gitignore file, add OS and software specific things we want to ignore on an overall level here:
/venv

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
