.left-bar {
    /* padding: 0px; */
    /* border-top-right-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #282c34;
}

.prevRes {
    color: #A8A8A8;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    /* Horizontally center */
    margin: 30px;
}


.tiplabel{
    color: #A8A8A8;
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    display: flex;
    justify-content: center;
}
.tnt {
    font-size: 15px;
    justify-content: center;

}
.tip {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    /* Removes the bullet points */
    padding: 10px;
    /* Removes default padding */
    margin: 10px;
    /* Removes default margin */
}

.ResButtons {
    padding: 10px;
    width: 225px;
    background-color: #23272e;
    outline-color: white;
    outline-width: 10px;
    width: 100%;
}